<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../static/density/dbscan.js"></script>
  <link type="text/css" rel="stylesheet" href="../../static/density/dbscan.css">
</head>
<style>
  /* .kashi {
    border-radius: 8px;
    border: 1px solid #864b4b;
    border-radius: 5px;
    padding: 10px;
    width: 484px;
    height: 428px;
  }
   */
   body{
     background: rgb(227, 239, 243);
   }
  .kashi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .kashi2{
    font-size: 60px;
  }
  
</style>

<body>
  <h1 class="kashi2" align="center">DBSCAN Algorithm Simulation</h1>
  <div id="dbscan" class="dbscan-chart"></div>
</body>

<!-- <script type="text/javascript">dbscan("#dbscan", 500, 500, 1000, 5, 10);</script> -->
<div class="dis">
  <!-- <img src="simulation.gif" alt=""> -->
  <img class="kashi" src="../..//static/Density/simulation.gif">
</div>

</html>